doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Lalulla System | Login
		include ../../layout/cgHeader.pug

	body(class="hold-transition layout-top-nav")
		.wrapper

			// Content Wrapper
			div.content-wrapper
				div.content
					div.container-fluid

						// Add vertical spacing
						//- div.row.justify-content-center.mt-5
						div.row.justify-content-center.align-items-center(style="min-height: calc(100vh - 120px);")
							div.col-md-4.col-sm-6.col-12

								div.card.card-primary
									div.card-header.text-center
										h3.card-title Lalulla System

									div.card-body
										p.login-box-msg.text-center.mb-4
											| Sign in to start your session

										form(action="/login" method="post")

											div.input-group.mb-3
												input.form-control(
													type="text"
													name="username"
													placeholder="Username"
													required
												)
												div.input-group-append
													div.input-group-text
														span.fas.fa-user

											div.input-group.mb-3
												input.form-control(
													type="password"
													name="password"
													placeholder="Password"
													required
												)
												div.input-group-append
													div.input-group-text
														span.fas.fa-lock

											div.row
												div.col-8
													div.icheck-primary
														input#remember(type="checkbox")
														label(for="remember") Remember Me

												div.col-4
													button.btn.btn-primary.btn-block(type="submit")
														| Login

									div.card-footer.text-center
										a(href="#") Forgot password?

			include ../../layout/cgFooter-no-session.pug
			include ../../layout/cgJs.pug

	script.
		$(document).ready(function(){
			console.log("Login ready");
		});